@page "/borrar"

@using Data.Models

@using Microsoft.EntityFrameworkCore
@inject vacunaContext vc

<h3 class="titulocantvacuna">Borrar Vacunado</h3>

<br>
<div class="input-group w-50">
    <label for="cedula" class="input-group-text">Cedula</label>
    <input id="cedula" type="text" @bind-value="cedulaInput" class="form-control">
    <div class="input-group-append">
        <button @onclick="parseaCedula" class="btn btn-success">Buscar</button>
    </div>
</div>
<br>
@if (error != "")
{
    <h4 class="text-danger">@error</h4>
}
@if (vacunado != null)
{
    <VacunadoCard Vacunado="vacunado" />
    <div class="w-25 mx-auto">
        <button @onclick="borrarVacunado" class="btn btn-warning">Borrar Registro</button>
    </div>
}

@code {
    private string cedulaInput = "";
    private string cedula = "";
    private string error = "";

    private Vacunado vacunado = null;

    private void parseaCedula()
    {
        cedula = cedulaInput.Replace("-", "").Replace(" ", "");

        vacunado = null;

        if (!Functions.ValidaCedula(cedula))
        {
            error = "La cedula ingresada no es valida";
            return;
        }

        buscaCedula();
    }

    private void buscaCedula()
    {
        try
        {
            vacunado = vc.Vacunados.Where(x => x.Cedula == cedula)
                .Include("Provincia").Include("Vacuna1")
                .Include("Vacuna2").First();
            error = "";
        }
        catch (InvalidOperationException)
        {
            error = "No se ha encontrado ninguna persona con esa cedula";
        }
    }

    private void borrarVacunado()
    {
        vc.Remove(vacunado);
        vc.SaveChanges();
        vacunado = null;
    }
}