@page "/"

<header class="Covid-header">
    
</header>


<h1 class="titulocantvacuna">JEER-PROG Creadores</h1>


<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://adsib.gob.bo/api/adjuntos/0d3536f0-3f10-11eb-bff1-c1ba4fcb6d6a.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Rody Castro Cuello</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://adsib.gob.bo/api/adjuntos/0d3536f0-3f10-11eb-bff1-c1ba4fcb6d6a.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ezequiel Perez R.</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://adsib.gob.bo/api/adjuntos/0d3536f0-3f10-11eb-bff1-c1ba4fcb6d6a.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Jeremi AC</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://adsib.gob.bo/api/adjuntos/0d3536f0-3f10-11eb-bff1-c1ba4fcb6d6a.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Elian A. Martinez Cuevas</h5>
        </div>
    </div>
</div>