@page "/mapa-vacunados"

@using Data.Models
@using BlazorLeaflet
@using BlazorLeaflet.Models
@using BlazorLeaflet.Models.Events

@using Microsoft.EntityFrameworkCore
@inject IJSRuntime jsr
@inject vacunaContext vc
<br>
<div id="mapContainer" style="width: 100%; height: 480px;">
    <h3 class="titulocantvacuna">Mapa de vacunados</h3>
    <LeafletMap Map="mapa"  />
</div>
<br/>
@if (vacunado != null) {
    <div>
        <VacunadoCard Vacunado="vacunado" />
    </div>
}

@code 
{
    private Map mapa = null;
    private Vacunado vacunado = null;
    private List<Vacunado> vacunados = null;

    private string esp = "\n";

    protected override void OnInitialized() {
        vacunados = vc.Vacunados.Include("Provincia")
            .Include("Vacuna1").Include("Vacuna2").ToList();

        mapa = new Map(jsr) {
            Center = new LatLng(18.9f, -70f),
            Zoom = 7.47f
        };

        mapa.OnInitialized += () => {
            mapa.AddLayer(new TileLayer {                
                UrlTemplate = "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                Attribution = "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
            });

            foreach (var v in vacunados) {

                var marker = new Marker(v.Latitud.Value, v.Longitud.Value) {
                    Title = v.Cedula,
                    RiseOnHover = true,
                    Tooltip = new Tooltip() {
                        Content = $"{v.Cedula}<br>{v.Nombre} {v.Apellido}" + 
                            $"<br>Vacuna 1: {v.Vacuna1.Marca}<br>" +
                            $"Vacuna 2: {(v.Vacuna2Id.HasValue ? v.Vacuna2.Marca : "N/A")}",
                        Direction = "top",
                        Offset = new System.Drawing.Point(-15, -10){}
                    }
                };

                marker.OnClick += (InteractiveLayer sender, MouseEvent e) => {
                    var marker = (Marker) sender;

                    vacunado = vc.Vacunados.First(x => x.Cedula == Convert.ToString(marker.Title));

                    StateHasChanged();
                };

                mapa.AddLayer(marker);
            }
        };
    }
}