<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Covid-Vac</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/vacunados">
                <span class="oi oi-list" aria-hidden="true"></span> Vacunados
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/registrar">
                <span class="oi oi-plus" aria-hidden="true"></span> Registrar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/borrar">
                <span class="oi oi-trash" aria-hidden="true"></span> Borrar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Listbyprovincia">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Por provincia
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Listbyvacuna">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Por vacuna
            </NavLink>
        </li> 
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Listbysigno">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Por signo zodiacal
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/configuracion">
                <span class="oi oi-cog" aria-hidden="true"></span> Configuracion
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
